doctype html
html(lang='en')
    head
        title CSCI-712 Project - Ram Zallan
        link(rel='stylesheet', href='/css/styles.css')

    body
        //p#content Loading user info

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://threejs.org/build/three.js')
        script(src='/js/animation.js')

